services:
  - type: web
    name: inn-hoian
    runtime: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npx drizzle-kit push && node dist/index.cjs
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 3000
